---
layout: default
comments: true
---
<div class="post editable">

    <!-- Frenzy layout: dynamically set title image -->
    {% if layout.name == 'frenzy' %}
        {% assign title_image = page.path | remove: '_posts/' | replace_first: '.md', '/title.jpg' %}
    {% endif %}

    <!-- Overrides frenzy image if set -->
    {% if page.image %}
        {% assign title_image = page.image %}
    {% endif %}

    {% if title_image %}
        <div class="featuredImage">
            <img src="{{ '/assets/img/' | prepend: site.baseurl | append: title_image }}" alt="" />
        </div>
    {% endif %}

    <h1 class="postTitle">{{ page.title }}</h1>

    <!-- adds a TDLR alert -->
    {% if page.tldr %}
        <div class="alert alert-primary" role="alert">
            <strong>TLDR</strong>: {{ page.tldr }}
        </div>
    {% endif %}

    <p class="meta">{{ page.date | date: '%B %d, %Y' }} | <span class="time">{{ page.content | number_of_words | divided_by:180 }}</span> Minute Read</p>

    {% if page.toc %}
        {% include toc.html html=content %}
    {% endif %}
    <p>
        <span class="dropcap">{{ content | slice: 3}}</span>
        {{ content | markdownify | slice: 4, content.size }}
    </p>

    <!-- POST NAVIGATION -->
    {% include navigation.html %}
  
</div>
